{% verbatim %}
<div ui-content-for="title">
    <span>{{ 'translate-admin-index' | translate }}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <div class="btn-group">
            <a href="" class="btn btn-default" ui-turn-on="new_lang" ui-state="new_lang"
               ui-class="{'active': new_lang}" ui-exclusion-group="langsButtons">{{ 'translate-admin-new' | translate }}</a>
            <a ng-repeat="l in langs" href="" class="btn btn-default" ui-turn-on="{{ l.key }}" ui-state="{{ l.key }}"
               ui-class="{'active': {{ l.key }}}" ui-exclusion-group="langsButtons">{{ l.key }}</a>
        </div>
        <form role="form" ng-submit='getSalt()' class="form-login">
            <fieldset>
                <legend>{{ 'translate-admin-title' | translate }}</legend>

                <p ng-show="user.secret">You should now have access to API because your're logged in</p>

                <div class="form-group has-success has-feedback">
                    <label>k</label>
                    <input type="text"
                           ng-model="user.username" required
                           class="form-control"
                           placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label>v</label>
                    <input type="text"
                           ng-model="user.password" required
                           class="form-control"
                           placeholder="Password">
                </div>

            </fieldset>

            <hr>

            <input class="btn btn-primary btn-block" type="submit" value="Save">

        </form>
    </div>
</div>
{% endverbatim %}