{% verbatim %}
<div ui-content-for="title">
    <span>{{ 'translate-admin-index' | translate }}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <div class="btn-group">
            <a href="" class="btn btn-default">{{ 'translate-admin-new' | translate }}</a>
            <a ng-repeat="l in translate.langs" ng-click="langKeysTable(l.key)" class="btn btn-default">{{ l.key }}</a>
        </div>

        <hr>

        <table ng-show="translate.table" class="table table-striped table-hover">
            <tr style="font-weight: bold">
                <td style="width:35%">Key</td>
                <td style="width:35%">Value</td>
                <td style="width:30%">Edit</td>
            </tr>
            <tr ng-repeat="translation in translate.langs.keys">
                <td>
                    {{ translation.key }}
                </td>
                <td>
                    <span editable-text="translation.value" e-name="value" e-form="rowform" e-required>
                        {{ translation.value }}
                    </span></td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser($data, translation.id)"
                          ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == translation">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteLangKey($index)">del
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

{% endverbatim %}

<div ui-content-for="modals">
    <div ng-include="'{{ asset('bundles/frontend/partials/layout/modal/modalError.html') }}'"></div>
</div>