{% extends "::angular.html.twig" %}

{% block body %}

    <!-- Sidebars -->
    <div ng-include="'{{ asset("bundles/frontend/partials/layout/sidebar.html") }}'"
         ui-track-as-search-param='true'
         class="sidebar sidebar-left"></div>
    <div ng-include="'{{ asset("bundles/frontend/partials/layout/sidebarRight.html") }}'"
         class="sidebar sidebar-right"></div>

    <div class="app"
         ng-swipe-right='(Ui.isActive("uiSidebarRight") ? Ui.turnOff("uiSidebarRight") : Ui.turnOn("uiSidebarLeft"))'
         ng-swipe-left='(Ui.isActive("uiSidebarLeft") ? Ui.turnOff("uiSidebarLeft") : Ui.turnOn("uiSidebarRight"))'>
        {% verbatim %}
        <!-- Navbars -->
        <div class="navbar navbar-app navbar-absolute-top">
            <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
                {{ 'index-title' | translate }}
            </div>
            <div class="btn-group pull-left">
                <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                    <i class="fa fa-bars"></i> {{ 'index-title-sidebar-left' | translate }}
                </div>
            </div>
            <div class="btn-group pull-right" ui-yield-to="navbarAction">
                <div ui-toggle="uiSidebarRight" class="btn">
                    <i class="fa fa-angle-left"></i> {{ 'index-title-sidebar-right' | translate }}
                </div>
            </div>
        </div>
        {% endverbatim %}

        <div class="navbar navbar-app navbar-absolute-bottom">
            <div class="btn-group justified">
                <a href="http://mobileangularui.com/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i>
                    Docs</a>
                <a href="https://github.com/mcasimir/mobile-angular-ui" class="btn btn-navbar"><i
                            class="fa fa-github fa-navbar"></i> Sources</a>
                <a href="https://github.com/mcasimir/mobile-angular-ui/issues" class="btn btn-navbar"><i
                            class="fa fa-exclamation-circle fa-navbar"></i> Issues</a>
            </div>
        </div>

        <!-- Modals -->
        {% verbatim %}
        <div class="app-body" ng-class="{loading: loading}">
            {% endverbatim %}
            <div ng-show="loading" class="app-content-loading">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <div class="app-content">
                <ng-view>{% block ng_view %}{% endblock %}</ng-view>
            </div>
        </div>

    </div>
    <!-- ~ .app -->

    <!-- Modals -->
    <div ui-yield-to="modals"></div>
    <div ng-include="'{{ asset("bundles/frontend/partials/layout/modal/modalError.html") }}'"></div>
    <div ng-include="'{{ asset("bundles/frontend/partials/layout/modal/modalInfo.html") }}'"></div>
    <!-- Modals -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/app.css') }}"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#Crypto JS#}
    <script type="text/javascript"
            src="{{ asset("bundles/frontend/components/cryptojslib/rollups/sha1.js") }}"></script>
    <script type="text/javascript"
            src="{{ asset("bundles/frontend/components/cryptojslib/rollups/sha512.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontend/components/cryptojslib/rollups/md5.js") }}"></script>
    <script type="text/javascript"
            src="{{ asset("bundles/frontend/components/cryptojslib/components/enc-base64-min.js") }}"></script>

    {#Translate Module#}
    <script type="text/javascript" src="{{ asset('bundles/translate/js/translate-app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/translate/js/translate-services.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/translate/js/translate-controllers.js') }}"></script>

    {#Angular APP#}
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/services.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/controllers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/filters.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/directives.js') }}"></script>

{% endblock %}